{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> DM</title>
    </head>
    <body>
     <form action="{% url 'PSS:dm' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
        <div>
            <h1><a href="">DM</a></h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"> DM. 빈칸을 채우거나 해당되는 답을 표시해 주십시오.</div>
          <div class="panel-body">
               <div class="panel panel-default">
                  <div class="panel-heading"> {{ questions.DM1 }}</div>
                  <div class="panel-body">
                      <span style="margin-left:1em">
                        <input type="radio" name="DM1" value="{{ choices.0 }}"></span>아니오
                        <input type="radio" name="DM1" value="{{ choices.1 }}">예
                        <br>
                  </div>
                   <div class="panel-heading">  <span style="margin-left:2em">{{ questions.DM1_1_year }}</span></div>
                   <div class="panel-body">
                     <input type="number" name="DM1_1_year" value=0>
                        <br>
                   </div>
                    <div class="panel-heading">  <span style="margin-left:2em">{{ questions.DM1_1_month }}</span></div>
                   <div class="panel-body">
                     <input type="number" name="DM1_1_month" value=0>
                        <br>
                   </div>
                   <div class="panel-heading">  <span style="margin-left:2em">{{ questions.DM1_1_days }}</span></div>
                   <div class="panel-body">
                     <input type="number" name="DM1_1_days" value=0>
                        <br>
                   </div>
                      <div class="panel-heading">  <span style="margin-left:2em">{{ questions.DM1_2 }}</span></div>
                   <div class="panel-body">
                     <span style="margin-left:2em"><input type="number" name="DM1_2" value=0></span>
                        <br>
                   </div>
                      <div class="panel-heading">  <span style="margin-left:2em">{{ questions.DM1_3 }} </span>
                          <span style="margin-left:4em"><input type="radio" name="DM1_3" value="{{ 99 }}"checked>기본(1번에 '아니오' 라고 대답)
                            </span></div>
                   <div class="panel-body">

                        <span style="margin-left:4em">
                        <input type="radio" name="DM1_3" value="{{ choices.0 }}"></span>아니오
                        <input type="radio" name="DM1_3" value="{{ choices.1 }}">예
                        <br>

                   </div>
                   <div class="panel-heading">  <span style="margin-left:2em">{{ questions.DM1_4 }} </span>
                          <span style="margin-left:4em"><input type="radio" name="DM1_4" value="{{ 99 }}"checked>기본(1번에 '아니오' 라고 대답)
                            </span></div>
                   <div class="panel-body">

                        <span style="margin-left:4em">
                        <input type="radio" name="DM1_4" value="{{ choices.0 }}"></span>아니오
                        <input type="radio" name="DM1_4" value="{{ choices.1 }}">예
                        <br>

                   </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM2 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                      <input type="radio" name="DM2" value=0>아니오
                    <input type="radio" name="DM2" value=1>예
                    </span><br></div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM3 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em"><input type="number" name="DM3" value=0></span>
                    </span><br></div>
                </div>

              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM4 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em"><input type="number" name="DM4" value=0></span>
                    </span><br></div>
                </div>

              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM5 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em"><input type="number" name="DM5" value=0></span>
                    </span><br></div>
                </div>

              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM6 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em"><input type="number" name="DM6" value=0></span>
                    </span>
                  </div>
                </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM7 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                        <input type="radio" name="DM7" value=0>아니오
                         <input type="radio" name="DM7" value=1>예</span>
                    </span>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM8 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                        <input type="radio" name="DM8" value=0>결혼, 배우자 있음
                        <input type="radio" name="DM8" value=1>결혼, 배우자 없음
                        <input type="radio" name="DM8" value=2>결혼한적 없음
                        <input type="radio" name="DM8" value=3>별거
                        <input type="radio" name="DM8" value=4>이혼
                        <input type="radio" name="DM8" value=5>사별
                    </span>
                    </span>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM9 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                        <input type="radio" name="DM9" value=0>월세 혹은 전세
                        <input type="radio" name="DM9" value=1>소유 주택
                        <input type="radio" name="DM9" value=2>노숙
                        <input type="radio" name="DM9" value=3>공공 임대 주
                        <input type="radio" name="DM9" value=4>그외
                        <input type="radio" name="DM9" value=5>친구 또는 가족과 산다</span>
                    </span>
                      <br>그외:<input type="text" name="DM9_1" value="">
                    </span>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM10 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                        <input type="radio" name="DM10" value=0>아니오
                        <input type="radio" name="DM10" value=1>예</span>
                    </span>
                    </span>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM11 }}</div>
                  <div class="panel-body">
                      <div class="panel-heading">{{ questions.DM11_1 }}</div>
                      <div class="panel-body"><span style="margin-left:1em">
                        <span style="margin-left:1em">
                            <input type="radio" name="DM11_1" value=0>나빠짐
                            <input type="radio" name="DM11_1" value=1>같음
                            <input type="radio" name="DM11_1" value=2>나아짐
                            <input type="radio" name="DM11_1" value=3>알수 없음
                        </span>
                        </span>
                    </div>
                      <div class="panel-heading">{{ questions.DM11_2 }}</div>
                      <div class="panel-body"><span style="margin-left:1em">
                        <span style="margin-left:1em">
                            <input type="radio" name="DM11_2" value=0>나빠짐
                            <input type="radio" name="DM11_2" value=1>같음
                            <input type="radio" name="DM11_2" value=2>나아짐
                            <input type="radio" name="DM11_2" value=3>알수 없음
                        </span>
                        </span>
                    </div>
                      <div class="panel-heading">{{ questions.DM11_3 }}</div>
                      <div class="panel-body"><span style="margin-left:1em">
                        <span style="margin-left:1em">
                            <input type="radio" name="DM11_3" value=0>나빠짐
                            <input type="radio" name="DM11_3" value=1>같음
                            <input type="radio" name="DM11_3" value=2>나아짐
                            <input type="radio" name="DM11_3" value=3>알수 없음
                        </span>
                        </span>
                    </div>
                      <div class="panel-heading">{{ questions.DM11_4 }}</div>
                      <div class="panel-body"><span style="margin-left:1em">
                        <span style="margin-left:1em">
                            <input type="radio" name="DM11_4" value=0>나빠짐
                            <input type="radio" name="DM11_4" value=1>같음
                            <input type="radio" name="DM11_4" value=2>나아짐
                            <input type="radio" name="DM11_4" value=3>알수 없음
                        </span>
                        </span>
                    </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM12 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                       <input type="number" name="DM12_1" value=0>
                    </span></span><br>

                  </div>
                   <div class="panel-heading">{{ questions.DM12_1 }}<span style="margin-left:1em"> <input type="number" name="DM12_3" value=0></span> </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM13 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                        <input type="radio" name="DM13" value=0>남자
                        <input type="radio" name="DM13" value=1>여자
                    </span>
                  </span>

                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM14 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">


                        <input type="radio" name="DM14" value=1>한국
                        <input type="radio" name="DM14" value=5>다국적
                       <input type="radio" name="DM14" value=6>그외(구체적으로 명시)
                        <br>
                         <span style="margin-left:1em"> {{ questions.DM14_1 }}
                        <input type="text" name="DM14_1" value=" ">
                    </span>
                  </span>

                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM15 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                        <input type="number" name="DM15" value=0>
                    </span>
                  </span>

                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM16 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">

                        <input type="radio" name="DM16" value=0>고졸 이하
                        <input type="radio" name="DM16" value=1>고졸/검정고시
                        <input type="radio" name="DM16" value=2>대학 중퇴
                        <input type="radio" name="DM16" value=3>직업, 기술학교 졸업증 또는 자격
                        <input type="radio" name="DM16" value=4>전문대 졸업(2년제) <br>
                        <span style="margin-left:1em"><input type="radio" name="DM16" value=5>학사
                        <input type="radio" name="DM16" value=6>석
                        <input type="radio" name="DM16" value=7>전문 대학원 졸업
                        <input type="radio" name="DM16" value=8>박
                    </span>
                  </span>

                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM17 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                    <input type="number" name="DM17" value=0></span>
                    </span>
                    </span>
                  </div>
              </div>
                            <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM18 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                       <input type="number" name="DM18" value=0></span>
                    </span>
                    </span>
                  </div>
              </div>
                            <div class="panel panel-default">
                  <div class="panel-heading">{{ questions.DM19 }}</div>
                  <div class="panel-body"><span style="margin-left:1em">
                    <span style="margin-left:1em">
                        <input type="number" name="DM19" value=0>
                    </span>
                    </span>
                  </div>
              </div>

          </div>
        </div>
         <button type="submit" class="save btn btn-default">Save</button>
         <br><br>
     </form>

        
    </body>
</html>

{% endblock %}