{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> EH </title>
    </head>
    <body>
        <div>
            <h1><a href="">EH </a></h1>
        </div>
        <p>
           After reading some statements about employment, please rank the following by circling a number on a scale of 0 to 10.
            <br> 0 indicates strong disagreement to the statement, 10 indicates strong agreement, and 5 indicates neutral.

        </p>
        <form action="{% url 'PSS:ehs' surveyee_caseNum survey%}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:3em"></span>

                        {% endfor %}
                           <br>
                       <span style="margin-left:1em"></span>1 = Strong Disagreement <span style="margin-left:17em"> 5 = Neutral</span>
                           <span style="margin-left:17em"> 10 = Strong Agreement.</span>
                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}