{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> ES </title>
    </head>
    <body>
        <div>
            <h1><a href="">ES </a></h1>
        </div>
        <p>
           SS.  Think about your personal economic situation over the past 1 month. <br>
            For each of the following items, circle the number that most clearly indicates where you rate yourself, using the scale:
            <br>
            <p>1.No, not at all, 2. Ocassionally, 3. Sometimes, 4. Most of the time, 5. Yes, all of the time </p><br>


        </p>
        <form action="{% url 'PSS:ess' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for choice in choices %}
                        <input type="radio" name="{{ name }}" value="{{ choice}}">{{ choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}