{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> EXF </title>
    </head>
    <body>
        <div>
            <h1><a href="">EXF </a></h1>
        </div>
        {% if version == 1 %}
        <p>
          EXF.  Read each item and then think about how well it describes you. Use the rating scale to choose the best score.
            <br>
            If the item doesn’t describe you at all then you’d circle <br>
            1, strongly disagree. If it describes you very well then you’d circle 6, strongly agree.
            Often, you’ll find that you’re somewhere in between so then you’d circle one of the numbers from 2 to 5 that describes you best.
            <br>
            Be as honest as possible—the more honest you are, the more you’ll learn about yourself.
            <br>
        {% else %}
                <p>
            EXF. 각 문항을 읽고 잘 생각한 후에 자신을 가장 잘 나타내는 것에 표시해 주십시오. <br>
            만약 문항이 당신에게 전혀 해당 되지 않으면 1 번 (전혀 동의하지 않는다)으로 표시하고 문항이 자신에게 많이 해당 되면 6번 (매우 동의한다 )으로 표시 하십시오. <br>
            솔직한 답변은 자기 자신을 더 잘 이해하는데 도움이 됩니다. <br>
            1.전혀 동의하지 않는다. 2.동의하지 않는다. 3.약간 동의하지 않는다. 4.약간 동의함. 5.동의함. 6.매우 동의함.
        </p>
        {% endif %}
        <form action="{% url 'PSS:exf' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:5em"></span>

                        {% endfor %}

                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Next</button>
            <br><br>
        </form>
    </body>
</html>

{% endblock %}