{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> EXF </title>
    </head>
    <body>
        <div>
            <h1><a href="">EXF </a></h1>
        </div>
        {% if version == 1 %}
        <p>
          EXF.  Read each item and then think about how well it describes you. Use the rating scale to choose the best score.
            If the item doesn’t describe you at all then you’d circle
            1, strongly disagree. If it describes you very well then you’d click 6, strongly agree.
            Often, you’ll find that you’re somewhere in between so then you’d click one of the numbers from 2 to 5 that describes you best.
            Be as honest as possible—the more honest you are, the more you’ll learn about yourself.
            <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2" style="text-align: center"><h5>1.Strongly disagree</h5></div>
                    <div class="col-xs-2" ><h5>2.Disagree</h5></div>
                    <div class="col-xs-2"><h5>3.Tend to disagree </h5></div>
                    <div class="col-xs-2"><h5>4.Tend to agree </h5></div>
                    <div class="col-xs-2" style="text-align: center"><h5>5.Agree</h5></div>
                    <div class="col-xs-2" style="text-align: center"><h5>6.Strongly agree</h5></div>
                </div>
            </div>
            </div>

        {% else %}
                <p>
            EXF. 각 문항을 읽고 잘 생각한 후에 자신을 가장 잘 나타내는 것에 표시해 주십시오.
            만약 문항이 당신에게 전혀 해당 되지 않으면 1 번 (전혀 동의하지 않는다)으로 표시하고 문항이 자신에게 많이 해당 되면 6번 (매우 동의한다 )으로 표시 하십시오.
            솔직한 답변은 자기 자신을 더 잘 이해하는데 도움이 됩니다.
        </p>
                        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2" style="text-align: center"><h5>1.전혀 동의하지 않는다.</h5></div>
                    <div class="col-xs-2" ><h5> 2.동의하지 않는다.</h5></div>
                    <div class="col-xs-2"><h5>3.약간 동의하지 않는다. </h5></div>
                    <div class="col-xs-2"><h5>4.약간 동의함.</h5></div>
                    <div class="col-xs-2" style="text-align: center"><h5>5.동의함.</h5></div>
                    <div class="col-xs-2" style="text-align: center"><h5>6.매우 동의함.</h5></div>
                </div>
            </div>
            </div>
        {% endif %}
        <form action="{% url 'PSS:exf' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            <div class="panel panel-default">

            {% for name, value in  questions.get_fields %}
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <div class="row" style="text-align: left; width: 100%">
                        {% for choice in choices %}
                            <div class="col-xs-2" style="text-align: center" ><input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}</div>

                        {% endfor %}

                        </div>
                        </div>
                        {% endif %}


            {% endfor %}
        </div>



            <button type="submit" class="save btn btn-default">Submit</button>
            <br><br><br><br>
        </form>
    </body>
</html>

{% endblock %}