{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> F </title>
    </head>
    <body>
        <div>
            <h1><a href="">F </a></h1>
        </div>
        {% if version == 1  %}
        <p>
           F.  In the course of our lives negative things may occur because of our own actions, the actions of others, or circumstances beyond our control.
             For some time after these events, we may have negative thoughts or feelings about ourselves, others, or the situation.
             Think about how you typically respond to such negative events.
            Next to each of the following items click the number (from the 7-point scale below) that best describes how you typically respond to the type of negative situation described.
             There are no right or wrong answers. Please be as open as possible in your answers.

        </p>
                        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1"><h5> </h5></div>
                    <div class="col-xs-1"><h5> </h5></div>
                    <div class="col-xs-1" style="text-align: right"><h5>1.Almost always false of me.</h5></div>
                    <div class="col-xs-1" ><h5> </h5></div>
                    <div class="col-xs-1"><h5>3.More often false of me </h5></div>
                    <div class="col-xs-1"><h5>  </h5></div>
                    <div class="col-xs-1" ><h5>5.More often true of me. </h5></div>
                    <div class="col-xs-1"><h5> </h5></div>
                    <div class="col-xs-1"><h5>7.Almost always true of me</h5></div>
                </div>
            </div>
            </div>

        {% else %}
            <p>
            F. 우리는 살면서 자신이나 타인의 행동, 혹은 우리의 통제를 벗어난 상황으로 인해 부정적인 일이 생기기도 합니다. <br>
            부정적인 상황은 우리의 생각이나 행동에 영향을 미치기도 합니다. 만약 귀하에게 불쾌한 일이 생겼다면 보통 어떻게 반응하는지 떠올려 보십시오. <br>
            질문을 잘 읽고 귀하에게 해당되는 번호에 표시하여 주십시오. <br>
            1.항상 그렇지 않다. 3.그렇지 않을때가 더 많다. 5.그러한 경우가 더 많다. 7.항상 그렇다
            </p>
            <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-1"><h5> </h5></div>
                    <div class="col-xs-1"><h5> </h5></div>
                    <div class="col-xs-1" style="text-align: right"><h5>1.항상 그렇지 않다.</h5></div>
                    <div class="col-xs-1" ><h5> </h5></div>
                    <div class="col-xs-1"><h5>3.그렇지 않을때가 더 많다. </h5></div>
                    <div class="col-xs-1"><h5>  </h5></div>
                    <div class="col-xs-1" ><h5>5.그러한 경우가 더 많다. </h5></div>
                    <div class="col-xs-1"><h5> </h5></div>
                    <div class="col-xs-1"><h5>7.항상 그렇다. </h5></div>
                </div>
            </div>
            </div>
        {% endif %}
        <form action="{% url 'PSS:f_scare' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            <div class="panel panel-default">
            {% for name, value in  questions.get_fields %}

                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                        <div class="row" style="text-align: center; width: 100%">
                            <div class="col-xs-1" style="text-align: center" > </div>
                            <div class="col-xs-1" style="text-align: center" > </div>
                        {% for choice in choices %}
                            <div class="col-xs-1" style="text-align: center" > <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:5em"></span></div>

                        {% endfor %}


                        </div>
                                          </div>

                        {% endif %}

            {% endfor %}
                  </div>




            <button type="submit" class="save btn btn-default">Submit</button>
        <br><br><br><br>
        </form>
    </body>
</html>

{% endblock %}