{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> GD </title>
    </head>
    <body>
        <div>
            <h1><a href="">GD </a></h1>
        </div>
        <p>
           GD.  Using the scale below as a guide, circle a number beside each statement to indicate how much you agree with it.

            <br>


        </p>
        <form action="{% url 'PSS:gd' surveyee_caseNum survey%}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for choice in choices %}
                        <input type="radio" name="{{ name }}" value="{{ choice}}">{{ choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}