{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> GR </title>
    </head>
    <body>
        <div>
            <h1><a href="">GR </a></h1>
        </div>
        {% if virsion == 1 %}
        <p>
           GR. Please respond to the following 8 items. Be honest – there are no right or wrong answers!<br>

            <p>1. Not like me at all, 2. Not much like me, 3. Somewhat like me 4. Mostly like me, 5. Very much like me </p><br>


        </p>
        {% else %}
        <p>
            GR. 다음 문항은 정해진 답이 없습니다. 떠오르는 대로 솔직하게 자신과 가장 가까운 숫자에 표시하여 주십시오. <br>
            1. 전혀 그렇지 않다. 2.거의 그렇지 않다. 3.약간 그렇다. 4.대체로 그렇다. 5.매우 그렇다
        </p>
        {% endif %}
        <form action="{% url 'PSS:gr' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:5em"></span>

                        {% endfor %}
                           <br>

                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}