{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> GR </title>
    </head>
    <body>
        <div>
            <h1><a href="">GR </a></h1>
        </div>
        <p>
           GR. Please respond to the following 8 items. Be honest – there are no right or wrong answers!<br>

            <p>1. Not like me at all, 2. Not much like me, 3. Somewhat like me 4. Mostly like me, 5. Very much like me </p><br>


        </p>
        <form action="{% url 'PSS:gr' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for choice in choices %}
                        <input type="radio" name="{{ name }}" value="{{ choice}}">{{ choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}