{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> HEALTH </title>
    </head>
    <body>
        <div>
            <h1><a href="">HEALTH </a></h1>
        </div>
        {% if virsion == 1 %}
            <p>
                 Health
            </p>
        {% else %}
            <p>
                건강. <br>

            </p>
        {% endif %}

        <form action="{% url 'PSS:health' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:5em"></span>

                        {% endfor %}
                           <br>
                       <span style="margin-left:1em"></span>Not a barrier <span style="margin-left:24em"> Strong barrier.</span>
                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}