{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> HEALTH </title>
    </head>
    <body>
        <div>
            <h1><a href="">HEALTH </a></h1>
        </div>

        <form action="{% url 'PSS:health' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for choice in choices %}
                        <input type="radio" name="{{ name }}" value="{{ choice}}">{{ choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}