{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> HM </title>
    </head>
    <body>
        <div>
            <h1><a href="">HM </a></h1>
        </div>
        <p>
        HM. Please respond to the following 15 items. Be honest – there are no right or wrong answers!<br>


        </p>
        <form action="{% url 'PSS:hm' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:5em"></span>

                        {% endfor %}
                           <br>
                                              <span style="margin-left:1em"></span>Strong disagree <span style="margin-left:25em"> Strong agree.</span>

                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}