{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> R SEF GR</title>
    </head>
    <body>
        <div>
            <h1><a href="">R SEF GR</a></h1>
        </div>
        <p>
          R.  Please rate how you felt over the past month. <br>
            0=Not True At All   1=Rarely True   2=Sometimes True   3=Often True     4=True Nearly All of the Time <br>
<br>


        </p>
        <form action="{% url 'PSS:r_sef_gr' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  R_questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for R_choice in R_choices %}
                        <input type="radio" name="{{ name }}" value="{{ R_hoice}}">{{ R_choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}
        <p>
           SEF.  Below is a list of statements dealing with your general feelings about yourself. <br>
            If you strongly agree, circle 5. <br>
            If you agree with the statement, circle 4.  If you disagree, circle 2.  If you strongly disagree, circle 1.
            <br>
            If you neither agree or disagree, circle neutral.



        </p>
            {% for name, value in  SEF_questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for SEF_choice in SEF_choices %}
                        <input type="radio" name="{{ name }}" value="{{ SEF_choice}}">{{ SEF_choice }}
                    {% endfor %}
                    {% endif %}
                     </p>
                <br><br>
            {% endfor %}
        <p>
           GR. Please respond to the following 8 items. Be honest – there are no right or wrong answers!<br>

            <p>1. Not like me at all, 2. Not much like me, 3. Somewhat like me 4. Mostly like me, 5. Very much like me </p><br>


        </p>

            {% for name, value in  GR_questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for GR_choice in GR_choices %}
                        <input type="radio" name="{{ name }}" value="{{ GR_choice}}">{{ GR_choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}



            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}