{% extends 'PSS/base.html' %}
{% block content %}

<html>
    <head>
        <title> R </title>
    </head>
    <body>
        <div>
            <h1><a href="">R </a></h1>
        </div>
        <p>
          R.  Please rate how you felt over the past month. <br>
            0=Not True At All   1=Rarely True   2=Sometimes True   3=Often True     4=True Nearly All of the Time <br>
<br>


        </p>
        <form action="{% url 'PSS:r_scare' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for choice in choices %}
                        <input type="radio" name="{{ name }}" value="{{ choice}}">{{ choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}