{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> R </title>
    </head>
    <body>
        <div>
            <h1><a href="">R </a></h1>
        </div>
        {% if version == 1 %}
            <p>
              R. Please rate how you felt over the past month. <br>
                0=Not True At All   1=Rarely True   2=Sometimes True   3=Often True     4=True Nearly All of the Time <br>

        </p>
        {% else %}
            <p>
                R. 지난 달에 어떻게 느꼈는지 표시 하여 주십시오. <br>
                (0=전혀 그렇지 않다 1=거의 그렇지 않다 2=가끔 그렇다 3=거의 그렇다 4= 항상 그렇다)
            </p>
        {% endif %}

        <form action="{% url 'PSS:r_scare' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">

                            <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:5em"></span>

                        {% endfor %}

                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}