{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> SPR </title>
    </head>
    <body>
        <div>
            <h1><a href="">SPR </a></h1>
        </div>
        {% if virsion == 1 %}
        <p>
          SPR.  As was the case with one of the above questions, <br>
            the following six questions use a 0 to 10 response key in which 0 corresponding to an absence or zero amount of the attribute,<br>
            while 10 corresponds to the maximum amount of the attribute. <br>
            Please circle the number along the continuum that best reflects your initial feeling. <br>
            Spirituality refers as your relationship to God.
        </p>
        {% else %}
            <p>
                SPR. 위의 질문과 같이, 다음의 6가지 질문에 대하여 0과 10사이의 숫자로 응답하여 주십시오. 처음 떠오른 생각을 가장 잘 반영하는 번호를 선택 하여 주십시오. <br>
                영성은 신앙이나 종교와 같이 현재 믿고 있는 것을 의미합니다. <br>
              0. 전혀 영향을 주지 않는다. - 10.
            </p>
        {% endif %}

        <form action="{% url 'PSS:spr' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:4em"></span>

                        {% endfor %}
                           <br>
                      <span style="margin-left:1em"></span>0 = absence <span style="margin-left:22em"> 5 = Neutral</span>
                           <span style="margin-left:22em"> 10 =  maximum amount of the attribute</span>
                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}