{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> SSP </title>
    </head>
    <body>
        <div>
            <h1><a href="">SSP </a></h1>
        </div>
        {% if version == 1 %}
        <p>
           SSP.  This scale is made up of a list of statements each of which may or may not be true about you. <br>
            For each statement circle "definitely true" if you are sure it is true about you and "probably true" <br>
            if you think it is true but are not absolutely certain. <br>
            Similarly, you should circle “definitely false” if you are sure the statement is false <br>
            and “probably false” if you think it is false but are not absolutely certain.
        </p>
        {% else %}
            <p>
            SSP. 다음 문항을 잘 읽고 각 질문이 귀하에게 해당되거나 전혀 연관이 없는지에 대해 숫자로 응답하여 주십시오. <br>
            1. 전혀 그렇지 않다 2.그렇지 않을 것이다 3.그럴 것이다 4.매우 그렇다
            </p>
        {% endif %}
        <form action="{% url 'PSS:ssp' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:5em"></span>

                        {% endfor %}
                           <br>

                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}