{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> TIP </title>
    </head>
    <body>
        <div>
            <h1><a href="">TIP </a></h1>
        </div>
        <p>
           SS.  Think about your personal economic situation over the past 1 month. <br>
            For each of the following items, circle the number that most clearly indicates where you rate yourself, using the scale:
            <br>
            <p>1.Strongly Disagree ... 7. Strongly agree </p><br>


        </p>
        <form action="{% url 'PSS:tip' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                  <div class="panel panel-default">
                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                        <span style="margin-left:1em"></span>
                        {% for choice in choices %}
                            <input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}<span style="margin-left:5em"></span>

                        {% endfor %}
                           <br>
                        <span style="margin-left:1em"></span>Strongly Disagree <span style="margin-left:35em"> Strongly agree</span>
                        </div>
                        {% endif %}
                    </p>
                  </div>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}