{% extends 'PSS/survey_base.html' %}
{% block content %}

<html>
    <head>
        <title> TIP </title>
    </head>
    <body>
        <div>
            <h1><a href="">TIP </a></h1>
        </div>
        {% if version == 1 %}
            <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-1" style="text-align: right"><h5> 1.Disagree strongly.</h5></div>
                    <div class="col-sm-1" ><h5>2.Disagree moderately. </h5></div>
                    <div class="col-sm-1"><h5>3.Disagree a little. </h5></div>
                    <div class="col-sm-1"><h5> 4.Neither agree nor disagree. </h5></div>
                    <div class="col-sm-1" ><h5>5.Agree a little. </h5></div>
                    <div class="col-sm-1"><h5>6.Agree moderately. </h5></div>
                    <div class="col-sm-1"><h5>7.Agree strongly </h5></div>
                </div>
            </div>
            </div>

        {% else %}
            <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-1" style="text-align: right"><h5> 1.전혀 그렇지 않다</h5></div>
                    <div class="col-sm-1" ><h5>2.그렇지 않은 편이다 </h5></div>
                    <div class="col-sm-1"><h5>3.약간 그렇지 않다</h5></div>
                    <div class="col-sm-1"><h5> 4.그저 그렇다</h5></div>
                    <div class="col-sm-1" ><h5>5.약간 그렇다 </h5></div>
                    <div class="col-sm-1"><h5>6.그런 편이다 </h5></div>
                    <div class="col-sm-1"><h5>7.매우 그렇다 </h5></div>
                </div>
            </div>
            </div>
        {% endif %}

        <form action="{% url 'PSS:tip' surveyee_caseNum survey %}" method="post" class="post-form">{% csrf_token %}
              <div class="panel panel-default">
                  {% for name, value in  questions.get_fields %}

                    {%  if value != '1' and value != '2' %}
                        <div class="panel-heading"> {{ value }}</div>
                       <div class="panel-body">
                       <div class="row" style="text-align: left; width: 100%">
                        {% for choice in choices %}
                            <div class="col-sm-1" style="text-align: right" ><input type="radio" name="{{ name }}" value="{{ choice}}"><span style="margin-left:1em"></span>{{ choice }}</div>

                        {% endfor %}


                           </div>
                        </div>
                        {% endif %}


            {% endfor %}

 </div>


            <button type="submit" class="save btn btn-default">Submit</button>
        <br><br><br><br>
        </form>
    </body>
</html>

{% endblock %}