{% extends 'PSS/base.html' %}
{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("p").hide(1000);
    });
    $("#show").click(function(){
        $("p").show();
    });
});
</script>
</head>
<h1> {{ agent }} Score Detail</h1>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th{

            background-color: black;
            color: white;
         }
            th, td {
            padding: 5px;
        }

    </style>

    <form action="" method="POST" class="post-form">{% csrf_token %}

        <ol>
             Compare <br><br>

            <table style="width:80%">
                <tr>
                    <th id="times">Time</th>
                    <th id="name">Statistics</th>
                    <th id="time1">Time 1</th>
                    <th id="time2">Time 2</th>
                    <th id="time3">Time 3</th>
                    <th id="time4">Time 4</th>

                </tr>
                 <p> {{ html_fig|safe }}</p>
                <strong>Summary</strong> <button id="show">Show Graph</button> <button id="hide">Hide Graph</button>

                {% for name, each in detail_list.items %}

                <tr>
                    <td headers="times" style=" background-color: darkred; color: white;"> {{ name }}</td>
                    <td headers="name">Mean</td>
                    <td headers="time1">{{each.Mean.0|floatformat:2 }}</td>
                    <td headers="time2">{{ each.Mean.1|floatformat:2}}</td>
                    <td headers="time3">{{ each.Mean.2|floatformat:2 }}</td>
                    <td headers="time4">{{ each.Mean.3|floatformat:2 }}</td>


                </tr>

                  <tr>
                  <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Count</td>
                    <td headers="time1">{{ each.Count.0 }}</td>
                    <td headers="time2">{{ each.Count.1 }}</td>
                    <td headers="time3">{{ each.Count.2 }}</td>
                    <td headers="time4">{{ each.Count.3 }}</td>

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Min</td>
                    <td headers="time1">{{ each.Min.0|floatformat:2 }}</td>
                    <td headers="time2">{{ each.Min.1|floatformat:2 }}</td>
                    <td headers="time3">{{ each.Min.2|floatformat:2 }}</td>
                    <td headers="time4">{{ each.Min.3|floatformat:2}}</td>

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Max</td>
                    <td headers="time1">{{ each.Max.0|floatformat:2 }}</td>
                    <td headers="time2">{{ each.Max.1|floatformat:2 }}</td>
                    <td headers="time3">{{ each.Max.2|floatformat:2 }}</td>
                    <td headers="time4">{{ each.Max.3|floatformat:2 }}</td>


                </tr>
                    <tr>
                     <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Std</td>
                    <td headers="time1">{{ each.Std.0|floatformat:2 }}</td>
                    <td headers="time2">{{ each.Std.1|floatformat:2 }}</td>
                    <td headers="time3">{{ each.Std.2|floatformat:2 }}</td>
                    <td headers="time4">{{ each.Std.3|floatformat:2 }}</td>

                </tr>
                {% endfor %}

            </table>

         </ol>

{% endblock %}