{% extends 'PSS/base.html' %}
{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("p").hide(1000);
    });
    $("#show").click(function(){
        $("p").show();
    });
});
</script>
</head>
<h1> {{ agent }} Score Detail</h1>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th{
            background-color: black;
            color: white;
         }
            th, td {
            padding: 3px;
                width: 1px;
                text-align: center;
        }

    </style>

    <form action="" method="POST" class="post-form">{% csrf_token %}

        <ol>

            {% if demo %}
                <p><strong>Condition:</strong> {{ demo1 }}</p>


            <table style="width:80%">
                <tr>
                    <th id="Demographic" >Demographic</th>
                    <th id ='first'> First</th>
                    <th id ='second'> Second</th>
                </tr>

                {% for a,b,c in demo  %}
                    <tr>
                        <td headers="Demographic" bgcolor="#f5f5dc">{{ a }}</td>
                        <td headers="first">{{ b }}</td>
                        <td headers="first">{{ c }}</td>
                    </tr>
                {% endfor %}
            {% elif demo_com %}
                <table style="width:80%">
                <tr>
                    <th id="Demographic" >Demographic</th>
                    <th id ='first'> Condition</th>
                </tr>

                {% for a,b in demo_com.items %}
                    <tr>
                        <td headers="Demographic" bgcolor="#f5f5dc">{{ a }}</td>
                        <td headers="first">{{ b }}</td>

                    </tr>
                {% endfor %}
            {% endif %}


            </table>

            <table style="width:80%">
                <tr>
                    <th id="times">Time</th>
                    <th id="name">Statistics</th>
                    {% for key in key_list %}
                        <th  id = {{ key }}> {{ key }}</th>
                    {% endfor %}


                </tr>
                 <p> {{ html_fig|safe }}</p>
                <strong>Summary</strong>
                <tr>
                    <td headers="times" style=" background-color: darkred; color: white;"> 1st </td>
                    <td headers="name">Mean</td>
                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Mean.0|floatformat:2 }}</td>
                    {% endfor %}

                </tr>

                  <tr>
                  <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Count</td>
                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Count.0|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Min</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Min.0|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Max</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Max.0|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                    <tr>
                     <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Std</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Std.0|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
              <tr>
                    <td headers="times" style=" background-color: darkred; color: white;"> 2nd </td>
                    <td headers="name">Mean</td>
                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Mean.1|floatformat:2 }}</td>
                    {% endfor %}

                </tr>

                  <tr>
                  <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Count</td>
                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Count.1|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Min</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Min.1|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Max</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Max.1|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                    <tr>
                     <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Std</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Std.1|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
              <tr>
                    <td headers="times" style=" background-color: darkred; color: white;"> 3rd </td>
                    <td headers="name">Mean</td>
                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Mean.2|floatformat:2 }}</td>
                    {% endfor %}

                </tr>

                  <tr>
                  <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Count</td>
                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Count.2|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Min</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Min.2|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Max</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Max.2|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                    <tr>
                     <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Std</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Std.2|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
              <tr>
                    <td headers="times" style=" background-color: darkred; color: white;"> 4th </td>
                    <td headers="name">Mean</td>
                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Mean.3|floatformat:2 }}</td>
                    {% endfor %}

                </tr>

                  <tr>
                  <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Count</td>
                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Count.3|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Min</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Min.3|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Max</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Max.3|floatformat:2 }}</td>
                    {% endfor %}

                </tr>
                    <tr>
                     <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Std</td>

                    {% for name, value in detail_list.items %}
                        <td headers={{ name }}>{{value.Std.3|floatformat:2 }}</td>
                    {% endfor %}

                </tr>


            </table>
            {% if indi_list %}
                <table style="width:80%">
                <tr>
                    <th id="times">Time</th>
                    <th id="name">Statistics</th>
                    <th id="time1">Time 1</th>
                    <th id="time2">Time 2</th>
                    <th id="time3">Time 3</th>
                    <th id="time4">Time 4</th>

                </tr>


                {% for name, each in indi_list.items %}

                <tr>
                    <td headers="times" style=" background-color: darkred; color: white;"> {{ name }}</td>
                    <td headers="name">Mean</td>
                    <td headers="time1">{{each.Mean.0|floatformat:2 }}</td>
                    <td headers="time2">{{ each.Mean.1|floatformat:2}}</td>
                    <td headers="time3">{{ each.Mean.2|floatformat:2 }}</td>
                    <td headers="time4">{{ each.Mean.3|floatformat:2 }}</td>


                </tr>

                  <tr>
                  <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Count</td>
                    <td headers="time1">{{ each.Count.0 }}</td>
                    <td headers="time2">{{ each.Count.1 }}</td>
                    <td headers="time3">{{ each.Count.2 }}</td>
                    <td headers="time4">{{ each.Count.3 }}</td>

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Min</td>
                    <td headers="time1">{{ each.Min.0|floatformat:2 }}</td>
                    <td headers="time2">{{ each.Min.1|floatformat:2 }}</td>
                    <td headers="time3">{{ each.Min.2|floatformat:2 }}</td>
                    <td headers="time4">{{ each.Min.3|floatformat:2}}</td>

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Max</td>
                    <td headers="time1">{{ each.Max.0|floatformat:2 }}</td>
                    <td headers="time2">{{ each.Max.1|floatformat:2 }}</td>
                    <td headers="time3">{{ each.Max.2|floatformat:2 }}</td>
                    <td headers="time4">{{ each.Max.3|floatformat:2 }}</td>


                </tr>
                    <tr>
                     <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Std</td>
                    <td headers="time1">{{ each.Std.0|floatformat:2 }}</td>
                    <td headers="time2">{{ each.Std.1|floatformat:2 }}</td>
                    <td headers="time3">{{ each.Std.2|floatformat:2 }}</td>
                    <td headers="time4">{{ each.Std.3|floatformat:2 }}</td>

                </tr>
                {% endfor %}
            {% endif %}

         </ol>
        <br><br><br>
{% endblock %}