{% extends 'PSS/base.html' %}
{% block content %}

<html>
    <head>
        <title> Compare </title>
    </head>
    <body>
        <div>
            <h1><a href="">Select factors</a></h1>
        </div>
        <form action="{% url 'PSS:compare_detail' %}" method="post" class="post-form">{% csrf_token %}
            <div class="container">
              <h2>Select options</h2>
              <div class="panel panel-default">
                <div class="panel-heading"> <strong>Agent</strong>  </div>
                <div class="panel-body">
                    {% for i in agents %}
                    {% if i.get_username == 'yoonhas' %}
                        <input type="checkbox" name="compare" value={{ i.id }} checked> Total
                    {% else %}
                        <input type="checkbox" name="compare" value={{ i.id }} >{{ i.get_username }}
                    {% endif %}

                {% endfor %}
                    <br>

                </div>
                          <div class = 'panel panel-defualt'>
                <div class = 'panel-heading'>
                    <strong>Individual Select list (select one):</strong>
                </div>
                <div class ='panel-body'>

                    <select class="form-control" id="indi_case">
                        <option value=77 >Default</option>
                        {% for indi_agent in surveyee %}
                            {% for indi_surveyee in indi_agent %}
                                <option value={{ indi_surveyee }}>{{ indi_surveyee.agent_name }} : {{ indi_surveyee }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
              </div>


                <div class="panel panel-default">
                <div class="panel-heading"><strong>Factors</strong></div>
                <div class="panel-body">

                    <p><input type="checkbox" name="factors" value='default' checked >Default(PEB, EHS, ESS, PSS) <br></p>
                    <p>PEB factors <br>
                    <span style="margin-left:1em"><input type="checkbox" name="factors" value='PEB_all'>PEB_all
                    <input type="checkbox" name="factors" value='Health'>Health
                    <input type="checkbox" name="factors" value='Community'>Community
                    <input type="checkbox" name="factors" value='Childcare'>Childcare
                    <input type="checkbox" name="factors" value='Jobskills'>Jobskills
                    <input type="checkbox" name="factors" value='SoftSkill'>SoftSkill</span></p>
                     <p>EHS factors <br>
                    <span style="margin-left:1em"><input type="checkbox" name="factors" value='EHS_all'>EHS_all
                    <input type="checkbox" name="factors" value='Empowerment'>Empowerment
                    <input type="checkbox" name="factors" value='Selfmotivation'>Selfmotivation
                    <input type="checkbox" name="factors" value='SkilResources'>SkilResources
                    <input type="checkbox" name="factors" value='GaolOrientation'>GaolOrientation</span></p>
                    <p>ESS Factors <br>
                    <span style="margin-left:1em"><input type="checkbox" name="factors" value='Ess_all'>Ess_all
                    <input type="checkbox" name="factors" value='Ess1'>Ess1
                    <input type="checkbox" name="factors" value='Ess2'>Ess2
                    <input type="checkbox" name="factors" value='Ess3'>Ess3
                    <input type="checkbox" name="factors" value='Ess4'>Ess4</span></p>
                    <p>PSS <br>
                    <span style="margin-left:1em"><input type="checkbox" name="factors" value='PSS'>PSS</span></p>

              </div>
                    </div>

                    <div class="panel panel-default">
                    <div class="panel-heading"><strong>Demographics</strong></div>
                    <div class="panel-body">

                        <br> Employ <br>
                        <span style="margin-left:1em"></span>
                        <input type="radio" name="employ" value=77 checked }>Default
                <input type="radio" name="employ" value=0>No
                <input type="radio" name="employ" value=1>Yes <br>

                        <br> Welfare Benefit <br>
                        <span style="margin-left:1em"></span>
                        <input type="radio" name="welfare" value=77 checked }>Default
                <input type="radio" name="welfare" value=0>No
                <input type="radio" name="welfare" value=1>Yes <br>
                         <br>Race <br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="race" value=77 checked }>Default
                <input type="radio" name="race" value=0>Native American or Alaska Native
                <input type="radio" name="race" value=1>Asian or Pacific Islander
                <input type="radio" name="race" value=2}>Black or African American <br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="race" value=3>White or European American
                <input type="radio" name="race" value=4>Non-White Hispanic
                <input type="radio" name="race" value=5>Bi- / multi-racial
                <input type="radio" name="race" value=6>Other

                        <br> <br>Marital Status <br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="marital" value=77 checked }>Default
                <input type="radio" name="marital" value=0>Married, spouse present
                <input type="radio" name="marital" value=1>Married, spouse absent
                <input type="radio" name="marital" value=2}>Never Married <br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="marital" value=3>Separated
                <input type="radio" name="marital" value=4>Divorced
                <input type="radio" name="marital" value=5>Widowed

                        <br> <br>Education <br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="education" value=77 checked }>Default
                <input type="radio" name="education" value=0>Less than High School
                <input type="radio" name="education" value=1>High-School / GED
                <input type="radio" name="education" value=2}>Some College but no degree<br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="education" value=3>Diploma or certificate from vocational, technical or trade school
                        <br>
                <span style="margin-left:1em"></span>
                        <input type="radio" name="education" value=4>Associates Degree
                <input type="radio" name="education" value=5>Bachelors Degree
                        <input type="radio" name="education" value=6>Masters Degree
                <input type="radio" name="education" value=6>Professional School Degree
                        <input type="radio" name="education" value=8> Doctorate
                <br><br>

            Housing <br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="Housing" value=77 checked>Default
                <input type="radio" name="Housing" value=0>Rental
                <input type="radio" name="Housing" value=1>Own Home
                <input type="radio" name="Housing" value=2>Homeless
                <input type="radio" name="Housing" value=3>Public housing
                <input type="radio" name="Housing" value=4>Other
                <input type="radio" name="Housing" value=5>Living with family or friend
                <br><br>

            Age (23, or 23-32) <br>
            <span style="margin-left:1em"></span>
                <input type="text" name="age" value="0">
            <br><br>

            Born Year (1984, or 1984-1999)<br>
                <span style="margin-left:1em"></span>
                <input type="text" name="year" value="0">
            <br><br>

                Date(2011.12.12, or 2011.12.12-2015.10.11) <br>
                <span style="margin-left:1em"></span>
               <input type="text" name="date" value=0></span>
                        <br><br>
                    </div>
                  </div>


            </div>

            <button type="submit" class="save btn btn-default">Submit</button>
            <br><br><br><br>
        </form>
        </body>
</html>

{% endblock %}