{% extends 'PSS/base.html' %}
{% block content %}
<head>
  <title>Summary Detail</title>

  <style>
  body {
      position: relative;
  }
  affix {
      top: 20px;
  }
    div.col-sm-9 div {
      height: 750px;
      font-size: 15px;
        margin-left:100px;
  }

  #PEB
  #EHS
  #ESS
  #graph


  table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: 20px;
        }
  th{

            background-color: black;
            color: white;
         }
  th, td {
      padding: 5px;
        }

  @media screen and (max-width: 810px) {
    #PEB, #EHS, #ESS{
        margin-left: 150px;
    }
  }
      tr:nth-child(even){background-color: #f2f2f2}
  </style>
</head>

<h1> {{ agent }} Score Detail</h1>
 <form action="" method="POST" class="post-form"> {% csrf_token %}
<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">

    <div class="container">
        <div class="row">
             <nav class=class="col-sm-3" id="myScrollspy">
                 <ul class="nav nav-pills nav-stacked navbar-left" data-spy="affix" data-offset-top="205">
                     <li><a href="#graph"> GRAPH </a></li>
                     <li><a href="#PEB"> PEB</a></li>
                     <li><a href="#EHS"> EHS</a></li>
                     <li><a href="#ESS"> ESS/PSS </a></li>

                 </ul>
             </nav>
               <br>
                 <div id="graph" class="container-fluid">
                    <h4>Graph</h4>
                      <a href="{% url 'PSS:compare_view' %}">Compare(click for detail)</a>
                    <p> {{ html_fig|safe }}</p>
                </div>
            <div class="col-sm-9">

                <div id="PEB" class="container-fluid">

                   <P><table style="width:800px;">
                         <h4>PEB</h4>
                            <tr>
                                <th id="times">Time</th>
                                <th id="name">Statistics</th>
                                <th id="Health">Health</th>
                                <th id="Community">Community</th>
                                <th id="Childcare">Childcare</th>
                                <th id="Jobskills">Jobskills</th>
                                <th id="SoftSkill">SoftSkill</th>
                                <th id="Peb_all">Peb_all</th>
                            </tr>

                            {% for name, each in detail_list %}

                            <tr>
                                <td headers="times" style=" background-color: darkred; color: white;"> {{ name }}</td>
                                <td headers="name">Mean</td>
                                <td headers="Health">{{each.Health.mean|floatformat:2  }}</td>
                                <td headers="Community">{{ each.Community.mean|floatformat:2  }}</td>
                                <td headers="Childcare">{{ each.Childcare.mean|floatformat:2  }}</td>
                                <td headers="Jobskills">{{ each.Jobskills.mean|floatformat:2  }}</td>
                                <td headers="SoftSkill">{{ each.SoftSkill.mean|floatformat:2  }}</td>
                                <td headers="Peb_all">{{ each.Peb_all.mean|floatformat:2  }}</td>


                            </tr>

                              <tr>
                              <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Count</td>
                                <td headers="Health">{{each.Health.count }}</td>
                                <td headers="Community">{{ each.Community.count }}</td>
                                <td headers="Childcare">{{ each.Childcare.count }}</td>
                                <td headers="Jobskills">{{ each.Jobskills.count }}</td>
                                <td headers="SoftSkill">{{ each.SoftSkill.count }}</td>
                                <td headers="Peb_all">{{ each.Peb_all.count }}</td>

                            </tr>
                            <tr>
                             <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Min</td>
                                <td headers="Health">{{each.Health.min }}</td>
                                <td headers="Community">{{ each.Community.min|floatformat:2  }}</td>
                                <td headers="Childcare">{{ each.Childcare.min|floatformat:2  }}</td>
                                <td headers="Jobskills">{{ each.Jobskills.min|floatformat:2  }}</td>
                                <td headers="SoftSkill">{{ each.SoftSkill.min|floatformat:2  }}</td>
                                <td headers="Peb_all">{{ each.Peb_all.min|floatformat:2  }}</td>

                            </tr>
                            <tr>
                             <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Max</td>
                                <td headers="Health">{{each.Health.max|floatformat:2  }}</td>
                                <td headers="Community">{{ each.Community.max|floatformat:2  }}</td>
                                <td headers="Childcare">{{ each.Childcare.max|floatformat:2  }}</td>
                                <td headers="Jobskills">{{ each.Jobskills.max|floatformat:2  }}</td>
                                <td headers="SoftSkill">{{ each.SoftSkill.max|floatformat:2  }}</td>
                                <td headers="Peb_all">{{ each.Peb_all.max|floatformat:2  }}</td>


                            </tr>
                                <tr>
                                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Std</td>
                                <td headers="Health">{{each.Health.std|floatformat:2  }}</td>
                                <td headers="Community">{{ each.Community.std|floatformat:2  }}</td>
                                <td headers="Childcare">{{ each.Childcare.std|floatformat:2  }}</td>
                                <td headers="Jobskills">{{ each.Jobskills.std|floatformat:2  }}</td>
                                <td headers="SoftSkill">{{ each.SoftSkill.std|floatformat:2 }}</td>
                                <td headers="Peb_all">{{ each.Peb_all.std|floatformat:2  }}</td>

                            </tr>
                            {% endfor %}

                        </table></P>
                </div>
                <div id="EHS" class="container-fluid">
                    <P><table style="width:850px">
                            <tr>
                                <th id="times">Time</th>
                                <th id="name">Statistics</th>
                                <th id="Empowerment">Empowerment</th>
                                <th id="Selfmotivation">Selfmotivation</th>
                                <th id="SkilResources">SkilResources</th>
                                <th id="GaolOrientation">GaolOrientation</th>
                                <th id="Ehs_all">Ehs_all</th>
                            </tr>
                            <br>
                            <strong>EHS</strong>
                            {% for name, each in detail_list %}

                            <tr>
                                <td headers="times" style=" background-color: darkred; color: white;"> {{ name }}</td>
                                <td headers="name">Mean</td>
                                <td headers="Empowerment">{{each.Empowerment.mean|floatformat:2  }}</td>
                                <td headers="Selfmotivation">{{ each.Selfmotivation.mean|floatformat:2  }}</td>
                                <td headers="SkilResources">{{ each.SkilResources.mean|floatformat:2  }}</td>
                                <td headers="GaolOrientation">{{ each.GaolOrientation.mean|floatformat:2  }}</td>
                                <td headers="Ehs_all">{{ each.Ehs_all.mean|floatformat:2  }}</td>



                            </tr>

                              <tr>
                              <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Count</td>
                               <td headers="Empowerment">{{each.Empowerment.count }}</td>
                                <td headers="Selfmotivation">{{ each.Selfmotivation.count }}</td>
                                <td headers="SkilResources">{{ each.SkilResources.count }}</td>
                                <td headers="GaolOrientation">{{ each.GaolOrientation.count }}</td>
                                <td headers="Ehs_all">{{ each.Ehs_all.count }}</td>

                            </tr>
                            <tr>
                             <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Min</td>
                             <td headers="Empowerment">{{each.Empowerment.min|floatformat:2  }}</td>
                                <td headers="Selfmotivation">{{ each.Selfmotivation.min|floatformat:2  }}</td>
                                <td headers="SkilResources">{{ each.SkilResources.min|floatformat:2  }}</td>
                                <td headers="GaolOrientation">{{ each.GaolOrientation.min|floatformat:2  }}</td>
                                <td headers="Ehs_all">{{ each.Ehs_all.min|floatformat:2  }}</td>

                            </tr>
                            <tr>
                             <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Max</td>
                             <td headers="Empowerment">{{each.Empowerment.max|floatformat:2  }}</td>
                                <td headers="Selfmotivation">{{ each.Selfmotivation.max|floatformat:2  }}</td>
                                <td headers="SkilResources">{{ each.SkilResources.max|floatformat:2  }}</td>
                                <td headers="GaolOrientation">{{ each.GaolOrientation.max|floatformat:2  }}</td>
                                <td headers="Ehs_all">{{ each.Ehs_all.max|floatformat:2  }}</td>

                            </tr>
                                <tr>
                                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Std</td>
                                <td headers="Community">{{ each.Community.std|floatformat:2  }}</td>
                                <td headers="Selfmotivation">{{each.Selfmotivation.std|floatformat:2  }}</td>
                                <td headers="SkilResources">{{ each.SkilResources.std|floatformat:2  }}</td>
                                <td headers="GaolOrientation">{{ each.GaolOrientation.std|floatformat:2  }}</td>
                                <td headers="Ehs_all">{{ each.Ehs_all.std|floatformat:2  }}</td>

                            </tr>
                            {% endfor %}

                        </table></P>
                </div>
                <div id="ESS" class="container-fluid">
                    <P><table style="width:800px">
                            <tr>
                                <th id="times">Time</th>
                                <th id="name">Statistics</th>
                                <th id="ESS1">ESS1</th>
                                <th id="ESS2">ESS2</th>
                                <th id="ESS3">ESS3</th>
                                <th id="ESS4">ESS4</th>
                                <th id="Ess_all">Ess_all</th>
                                <th id="PSS">PSS</th>
                            </tr>
                            <strong>ESS/PSS</strong>
                            {% for name, each in detail_list %}

                            <tr>
                                <td headers="times" style=" background-color: darkred; color: white;"> {{ name }}</td>
                                <td headers="name">Mean</td>
                                 <td headers="ESS1">{{ each.Ess1.mean|floatformat:2  }}</td>
                                <td headers="ESS2">{{each.Ess2.mean|floatformat:2  }}</td>
                                <td headers="ESS3">{{ each.Ess3.mean|floatformat:2  }}</td>
                                <td headers="ESS4">{{ each.Ess4.mean|floatformat:2  }}</td>
                                <td headers="Ess_all">{{ each.Ess_all.mean|floatformat:2  }}</td>
                                <td headers="PSS">{{ each.PSS.mean|floatformat:2  }}</td>


                            </tr>

                              <tr>
                              <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Count</td>
                                <td headers="ESS1">{{ each.Ess1.count }}</td>
                                  <td headers="ESS2">{{each.Ess2.count }}</td>
                                <td headers="ESS3">{{ each.Ess3.count }}</td>
                                <td headers="ESS4">{{ each.Ess4.count }}</td>
                                <td headers="Ess_all">{{ each.Ess_all.count }}</td>
                                <td headers="PSS">{{ each.PSS.count }}</td>

                            </tr>
                            <tr>
                             <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Min</td>
                                <td headers="ESS1">{{ each.Ess1.min|floatformat:2  }}</td>
                            <td headers="ESS2">{{each.Ess2.min|floatformat:2  }}</td>
                                <td headers="ESS3">{{ each.Ess3.min|floatformat:2  }}</td>
                                <td headers="ESS4">{{ each.Ess4.min|floatformat:2  }}</td>
                                <td headers="Ess_all">{{ each.Ess_all.min|floatformat:2  }}</td>
                                <td headers="PSS">{{ each.PSS.min|floatformat:2  }}</td>

                            </tr>
                            <tr>
                             <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Max</td>
                                <td headers="ESS1">{{ each.Ess1.max|floatformat:2  }}</td>
                            <td headers="ESS2">{{each.Ess2.max|floatformat:2  }}</td>
                                <td headers="ESS3">{{ each.Ess3.max|floatformat:2  }}</td>
                                <td headers="ESS4">{{ each.Ess4.max|floatformat:2  }}</td>
                                <td headers="Ess_all">{{ each.Ess_all.max|floatformat:2  }}</td>
                                <td headers="PSS">{{ each.PSS.max|floatformat:2  }}</td>


                            </tr>
                                <tr>
                                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                                <td headers="name">Std</td>
                                <td headers="ESS1">{{ each.Ess1.std|floatformat:2  }}</td>
                                    <td headers="ESS2">{{each.Ess2.std|floatformat:2  }}</td>
                                <td headers="ESS3">{{ each.Ess3.std|floatformat:2  }}</td>
                                <td headers="ESS4">{{ each.Ess4.std|floatformat:2  }}</td>
                                <td headers="Ess_all">{{ each.Ess_all.std|floatformat:2  }}</td>
                                <td headers="PSS">{{ each.PSS.std|floatformat:2  }}</td>

                            </tr>
                            {% endfor %}

                        </table></P>
                </div>
                <br><br> <br><br>

            </div>
        </div>
    </div>


</body>
  </form>
{% endblock %}