{% extends 'PSS/base.html' %}
{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("p").hide(1000);
    });
    $("#show").click(function(){
        $("p").show();
    });
});
</script>
</head>
<h1> {{ agent }} Score Detail</h1>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th{

            background-color: black;
            color: white;
         }
            th, td {
            padding: 5px;
        }

    </style>

    <form action="" method="POST" class="post-form">{% csrf_token %}

        <ol>
             <a href="{% url 'PSS:compare_agent' user.id %}">Compare (click for compare)</a><br>

            <table style="width:80%">
                <tr>
                    <th id="times">Time</th>
                    <th id="name">Statistics</th>
                    <th id="Peb_all">Peb_all</th>
                    <th id="Ehs_all">Ehs_all</th>
                    <th id="Ess_all">Ess_all</th>
                    <th id="PSS">PSS</th>
                </tr>
                 <p> {{ html_fig|safe }}</p>
                <strong>Summary</strong> <button id="show">Show Graph</button> <button id="hide">Hide Graph</button>

                {% for name, each in detail_list %}

                <tr>
                    <td headers="times" style=" background-color: darkred; color: white;"> {{ name }}</td>
                    <td headers="name">Mean</td>
                    <td headers="Peb_all">{{each.Peb_all.mean|floatformat:2  }}</td>
                    <td headers="Ehs_all">{{ each.Ehs_all.mean|floatformat:2  }}</td>
                    <td headers="Ess_all">{{ each.Ess_all.mean|floatformat:2  }}</td>
                    <td headers="PSS">{{ each.PSS.mean|floatformat:2  }}</td>


                </tr>

                  <tr>
                  <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Count</td>
                    <td headers="Peb_all">{{each.Peb_all.count }}</td>
                    <td headers="Ehs_all">{{ each.Ehs_all.count }}</td>
                    <td headers="Ess_all">{{ each.Ess_all.count }}</td>
                    <td headers="PSS">{{ each.PSS.count }}</td>

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Min</td>
                    <td headers="Peb_all">{{each.Peb_all.min|floatformat:2  }}</td>
                    <td headers="Ehs_all">{{ each.Ehs_all.min|floatformat:2  }}</td>
                    <td headers="Ess_all">{{ each.Ess_all.min|floatformat:2  }}</td>
                    <td headers="PSS">{{ each.PSS.min|floatformat:2  }}</td>

                </tr>
                <tr>
                 <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Max</td>
                    <td headers="Peb_all">{{each.Peb_all.max|floatformat:2  }}</td>
                    <td headers="Ehs_all">{{ each.Ehs_all.max|floatformat:2  }}</td>
                    <td headers="Ess_all">{{ each.Ess_all.max|floatformat:2  }}</td>
                    <td headers="PSS">{{ each.PSS.max|floatformat:2  }}</td>


                </tr>
                    <tr>
                     <td headers="times" style=" background-color: darkred; color: white;"> </td>
                    <td headers="name">Std</td>
                    <td headers="Peb_all">{{each.Peb_all.std|floatformat:2  }}</td>
                    <td headers="Ehs_all">{{ each.Ehs_all.std|floatformat:2  }}</td>
                    <td headers="Ess_all">{{ each.Ess_all.std |floatformat:2 }}</td>
                    <td headers="PSS">{{ each.PSS.std|floatformat:2  }}</td>

                </tr>
                {% endfor %}

            </table>

         </ol>

{% endblock %}