{% extends 'PSS/base.html' %}
{% block content %}

<html>
    <head>
        <title> Compare </title>
    </head>
    <body>
        <div>
            <h1><a href="">Select factors</a></h1>
        </div>

            <form action="{% url 'PSS:compare_detail' %}" method="post" class="post-form">{% csrf_token %}
                <br>Race <br>
            <span style="margin-left:1em"></span>
                <input type="radio" name="race" value=77 checked }>Default
                <input type="radio" name="race" value=0>Native American or Alaska Native
                <input type="radio" name="race" value=1>Asian or Pacific Islander
                <input type="radio" name="race" value=2}>Black or African American <br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="race" value=3>White or European American
                <input type="radio" name="race" value=4}>Non-White Hispanic
                <input type="radio" name="race" value=5>Bi- / multi-racial
                <input type="radio" name="race" value=6}>Other

            <br><br>
            Age (23, or 23-32) <br>
            <span style="margin-left:1em"></span>
                <input type="text" name="age" value="0">
            <br>

            Born Year (1984, or 1984-1999)<br>
                <span style="margin-left:1em"></span>
                <input type="text" name="year" value="0">
            <br><br>

            Status <br><span style="margin-left:1em"></span>
                <input type="radio" name="status" value=77 checked> Default
                <input type="radio" name="status" value=0> In
                <input type="radio" name="status" value=1> Out
                <input type="radio" name="status" value=2> Done

            <br>
            <br>
                Date(2011.12.12, or 2011.12.12-2015.10.11) <br>
                <span style="margin-left:1em"></span>
               <input type="text" name="date" value=0></span>
            <br><br>
            Housing <br>
                <span style="margin-left:1em"></span>
                <input type="radio" name="Housing" value=77 checked>Default
                <input type="radio" name="Housing" value=0>Rental
                <input type="radio" name="Housing" value=1>Own Home
                <input type="radio" name="Housing" value=2>Homeless
                <input type="radio" name="Housing" value=3>Public housing
                <input type="radio" name="Housing" value=4>Other
                <input type="radio" name="Housing" value=5>Living with family or friend
                <br><br>

                Compare to <br>
                <span style="margin-left:1em"></span>
                {% for i in agents %}
                    {% if i.get_username == 'yoonhas' %}
                        <input type="checkbox" name="compare" value={{ i.id }} checked> Total
                    {% else %}
                        <input type="checkbox" name="compare" value={{ i.id }} >{{ i.get_username }}
                    {% endif %}
                {% endfor %}

                <br>
                <br>
            <button type="submit" class="save btn btn-default">Submit</button>
        </form>
        </body>
</html>

{% endblock %}