{% extends 'PSS/base.html' %}
{% block content %}

<html>
    <head>
        <title> EB Score</title>
    </head>
    <body>
        <div>
            <h1><a href="">EB Score</a></h1>
        </div>
        <p>
            EB.  After reading some statements about employment, please rank the following by circling a number on a scale of 1 to 5 according to how each item affects you securing a job.
            <br>1=Not a barrier and 5=Strong barrier.

        </p>
        <form action="{% url 'PSS:peb' surveyee_caseNum survey%}" method="post" class="post-form">{% csrf_token %}
              {% for name, value in  questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for choice in choices %}
                        <input type="radio" name="{{ name }}" value="{{ choice}}">{{ choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}


            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}