{% extends 'PSS/base.html' %}
{% block content %}

<html>
    <head>
        <title> EH </title>
    </head>
    <body>
        <div>
            <h1><a href="">EH </a></h1>
        </div>
        <p>
           After reading some statements about employment, please rank the following by circling a number on a scale of 0 to 10.
            <br> 0 indicates strong disagreement to the statement, 10 indicates strong agreement, and 5 indicates neutral.

        </p>
        <form action="{% url 'PSS:ehs' surveyee_caseNum survey%}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for choice in choices %}
                        <input type="radio" name="{{ name }}" value="{{ choice}}">{{ choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}