{% extends 'PSS/base.html' %}
{% block content %}

<html>
    <head>
        <title> HM Scare</title>
    </head>
    <body>
        <div>
            <h1><a href="">HM Scare</a></h1>
        </div>
        <p>
        HM. Please respond to the following 15 items. Be honest – there are no right or wrong answers!<br>


        </p>
        <form action="{% url 'PSS:hm' surveyee_caseNum %}" method="post" class="post-form">{% csrf_token %}
            {% for name, value in  questions.get_fields %}
                {%  if value != '1' %}
                    <p>{{ value }} <br>
                    {% for choice in choices %}
                        <input type="radio" name="{{ name }}" value="{{ choice}}">{{ choice }}
                    {% endfor %}
                    {% endif %}
                </p>
                <br><br>
            {% endfor %}




            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>

{% endblock %}