{% extends 'PSS/base.html' %}
{% block content %}

<h1>PSS Main Page</h1>
    {% if user.is_active %}
        {% if agent_list %}
            <ul>
            {% for agent in agent_list %}
                {% if agent.id == user.id %}
                    <li><a href="{% url 'PSS:agent_detail' agent.id%}">{{ agent.get_username }}</a></li>
                {% endif %}
            {% endfor %}
             </ul>
        {% else %}
            <p> No agent is available. </p>
        {% endif %}
    {% else %}
        <p>Log in Please</p>
    {% endif %}

{% endblock content %}