{% extends 'PSS/base.html' %}
{% block content %}
<div class="container">

    {% if user.is_active %}
        {% if agent_list %}
            <ul>
            {% for agent in agent_list %}

                {% if agent.id == user.id %}
                    {% if agent.get_username == 'yoonhas' %}
                        <h1>PSS Admin Main </h1><br><br>
                        <div class="list-group">
                        <a href="{% url 'PSS:upload_csv_start' %}" class="list-group-item" >
                            <h4 class="list-group-item-heading">Upload Survey file</h4>
                             <p class="list-group-item-text">csv file and 1.5 MB Max</p>
                            </a>
                        <a href="{% url 'PSS:summary' agent.id %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Total Summary</h4>
                             <p class="list-group-item-text"></p></a>
                        <a href="{% url 'PSS:call_add_participant' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Add New Participant</h4>
                             <p class="list-group-item-text"></p></a>
                        <a href="{% url 'PSS:release_survey_agent' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Release Survey</h4>
                             <p class="list-group-item-text"></p></a>
                        </div>

                    {% else %}
                        <h1>{{ agent.get_username }} PSS Main</h1><br><br>
                         <div class="list-group">
                        <a href="{% url 'PSS:agent_detail' agent.id%}" class="list-group-item ">
                            <h4 class="list-group-item-heading">Case Number List</h4>
                             <p class="list-group-item-text">Start survey</p></a>
                        <a href="{% url 'PSS:summary'  agent.id %}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ agent.get_username }}</h4>
                             <p class="list-group-item-text">Summary</p></a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
             </ul>
        {% else %}
            <p> No agent is available. </p>
        {% endif %}
    {% else %}
        <p>Log in Please</p>
    {% endif %}
</div>
{% endblock content %}

