{% extends 'PSS/base.html' %}
{% block content %}
<div class="container">

    {% if user.is_active %}
        {% if agent_list %}
            <ul>
            {% for agent in agent_list %}

                {% if agent.id == user.id %}
                    {% if agent.get_username == 'yoonhas' or agent.get_username == 'admin' or agent.get_username == 'Cross' %}
                        <h1>PSS Admin Main </h1><br><br>
                        <div class="list-group">
                        {% if agent.get_username == 'yoonhas' or agent.get_username == 'admin' %}
                            <a href="{% url 'PSS:update_total_csv' %}" class="list-group-item" >
                            <h4 class="list-group-item-heading">Update Summary</h4>

                            </a>
                            <a href="{% url 'PSS:release_survey_agent' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Release Survey</h4>
                             <p class="list-group-item-text"></p></a>

                        {% endif %}
                        <a href="{% url 'PSS:show_online_survey_Date' %}" class="list-group-item" >
                        <h4 class="list-group-item-heading">Download Online Survey</h4>

                        </a>
                        <a href="{% url 'PSS:summary' agent.id %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Total Summary</h4>
                             <p class="list-group-item-text"></p></a>

                    </div>
                    {% else %}
                        <h1>{{ agent.get_username }} PSS Main</h1><br><br>
                         <div class="list-group">
                        <a href="{% url 'PSS:agent_detail' agent.id%}" class="list-group-item ">
                            <h4 class="list-group-item-heading">Case Number List</h4>
                             <p class="list-group-item-text">Start survey</p></a>
                        <a href="{% url 'PSS:summary'  agent.id %}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ agent.get_username }}</h4>
                             <p class="list-group-item-text">Summary</p></a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
             </ul>
        {% else %}
            <p> No agent is available. </p>
        {% endif %}
    {% else %}
        <head>
        <style>
           .container-fluid {

        }
          .bg-1 {
              padding-top: 70px;
              padding-bottom: 70px;
              background-color: #1abc9c; /* Green */
              color: #ffffff;
          }
          .bg-2 {
              padding-top: 70px;
              padding-bottom: 70px;
              background-color: #474e5d; /* Dark Blue */
              color: #ffffff;
          }
          .bg-3 {
              padding-top: 70px;
              padding-bottom: 70px;
              background-color: aqua; /* White */
              color: #555555;
          }
          </style>
        </head>

        <body>

        <div class="container-fluid bg-1 text-center">

            {% load static %}
            <img src="{% static "PSS/crosscenter.png" %}" alt="cross_center"/>
            <img src="{% static "PSS/tiplogo.png" %}" alt="tipLogo"/>

            <h4>

            PSS Data Solution is an interactive data management platform to provide data solution services to participating member organizations.
            Members who use the PSS survey to follow their clients and staff on multiple time points are given access to the system for inputting,
            viewing, case managing, and producing summary reports on individual client-level and organizational aggregate-level PSS data.
            PSS scores can be disaggregated or aggregated depending on the need of member organizations.
            </h4>
            </div>

            <div class="container-fluid bg-2 text-center">
            <h4>
            There are 2 different sub-metrics of PSS--employment hope and barriers--for which the core scores are reported. Each sub-metric will have component metrics by which data can be viewed. <br>
            Employment hope has the four component metrics of psychological empowerment, futuristic self-motivation, utilization of skills and resources, and goal-orientation.
            Perceived employment barriers has the five component metrics of health and mental health barriers, labor market exclusion barriers, child care barriers, human capital barriers, and soft skills / personal balance barriers.

            </h4>
            </div>

            <div class="container-fluid bg-3 text-center">
              <h4>
            Members are given user-friendly access to disaggregated individual data for case management. Also they are provided access to view the aggregate PSS score by various demographic categories.
                 Also, some members will be given the status to view their own scores in comparison to the overall average scores of all participating member organizations.

            </h4>
            </div>

        </body>



    {% endif %}
</div>
{% endblock content %}



