{% extends 'PSS/base.html' %}
{% block content %}

<h1>Select Participants To Release </h1>
    <p><strong> Release Second Survey(Completed First Survey)</strong><br>
    <form action="{% url 'PSS:set_ready'%}" method="post" class="post-form">{% csrf_token %}
    {% if participants_1 %}
        <ul>
        {% for participant in participants_1 %}
            <li><input type="checkbox" name="participants1" value={{ participant.caseNum }}>{{ participant.caseNum }}</li>
        {% endfor %}
         </ul>
    {% else %}
        <p> No participant is available. </p>
    {% endif %}
    </p>
    <p><strong> Release Third Survey(Completed Second Survey)</strong><br>
    {% if participants_2 %}
        <ul>
        {% for participant in participants_2 %}
            <li> <input type="checkbox" name="participants2"  value={{ participant.caseNum }}>{{ participant.caseNum }}</li>
        {% endfor %}
         </ul>
    {% else %}
        <p> No participant is available. </p>
    {% endif %}
    </p>

    <p><strong> Release Fourth Survey(Completed Third Survey)</strong><br>
    {% if participants_3 %}
        <ul>
        {% for participant in participants_3 %}
            <li> <input type="checkbox" name="participants3"  value={{ participant.caseNum }}>{{ participant.caseNum }}</li>
        {% endfor %}
         </ul>
    {% else %}
        <p> No participant is available. </p>
    {% endif %}
    </p>
    <p><strong> Completed</strong> <br>
    {% if participants_4 %}
        <ul>
        {% for participant in participants_4 %}
            <li> {{ participant.caseNum }}</li>
        {% endfor %}
         </ul>
    {% else %}
        <p> No participant is available. </p>
    {% endif %}
    </p>
    <p><strong> Released Survey</strong> <br>
    {% if waiting %}
        <ul>
        {% for i in waiting %}
            <li> {{ i.caseNum }}</li>
        {% endfor %}
         </ul>
    {% else %}
        <p> No participant is available. </p>
    {% endif %}
    </p>
    <button type="submit" class="save btn btn-default">Submit</button>
</form>
{% endblock content %}