{% extends 'PSS/base.html' %}
{% block content %}

<h1>Select an Agent To Release </h1>
    {% if agents %}
        <ul>
        {% for agent in agents %}
            {% if agent.username  != 'yoonhas' or agent.username  != 'admin' or agent.username  != 'Cross' %}
            <li><a href="{% url 'PSS:release_survey_participants' agent.id%}">{{ agent.username }}</a></li>
            {% endif %}
        {% endfor %}
         </ul>
    {% else %}
        <p> No agent is available. </p>
    {% endif %}


{% endblock content %}