{% extends 'PSS/survey_base.html' %}
{% block content %}

<h1>Check Survey Times</h1>
    <ol>
        {% for time in surveyTime %}
            <li>Survey {{ time.time }}: Complete </li>
        {% endfor %}
    </ol>
    <br><br>
    {% if message %}
        <p>{{ message }} </p>

    {% elif startSurvey %}
        <form action="{% url 'PSS:peb_start' surveyee_caseNum survey%}" method="POST" class="post-form">{% csrf_token %}



            <p>Start Survey {{ startSurvey.time }} </p>
            <button type="submit" class="btn btn-primary btn-lg" >Start</button>



        </form>
    {% endif %}
{% endblock %}