{% extends 'PSS/base.html' %}
{% block content %}

<h1>Check Survey Times</h1>
    <form action="{% url 'PSS:start' surveyee_caseNum %}" method="POST" class="post-form">{% csrf_token %}
    {% if error_message %}<p> <strong>{{ error_message }}</strong></p>
    {% else %}
        <ol>
        {% for times in survey_time_list %}
            <li>Done ({{ times.pub_Date }})</li>
        {% endfor %}
         </ol>
        <p>Let's start the next Survey</p>
    {% endif %}

        <input type="submit" value="START">
    </form>
{% endblock %}